layouts
<%= form_tag posts_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% if @tags.nil? %>
   default_tag
  <% else%>
<div class="nav nav-list">
<h4 class="nav-header">Tags</h4>
  <% @tags.sort_by(&:count).reverse.each do |k| %>
      <% url_opts = {:action => "index", :controller => "posts"}
         link_name = "#{k.name} (#{k.count})"
      %>
      <% if @keyword == k.name %>
        <%= link_to link_name, url_opts.merge(:keyword => nil), :class => "tag current_tag", :title => "Click again to see all" %>
      <% else %>
        <%= link_to link_name,  url_opts.merge(:keyword => k.name), :class => "tag", :title => "Click to filter by #{k.name}" %>
      <% end %>
    <% end %>
</div>
<% end %>

<% if !@posts_by_month.nil? %>
<% @posts_by_month.each do |monthname, posts| %>
<p class="month-archive"><%= monthname %></p>
     <div class="archive">
    <ul class="archive">
    <% posts.each do |post| %>
    <li class="archive"><p class="archive-post"><%= link_to "#{post.title}", post %></p></li>
    <% end %>
    </ul>
</div>
<% end %>
<% end %>


